<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    $if(page-title)$
    <title>Obstacle Allusion :: $page-title$</title>
    $else$
    $if(title)$
    <title>Obstacle Allusion :: $title$</title>
    $else$
    <title>Obstacle Allusion</title>
    $endif$
    $endif$
    <meta name="viewport" content="width=device-width">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/solarized.css">
    <link rel="stylesheet" href="/tufte/tufte.css">
    <link rel="stylesheet" href="/css/overrides.css">

  $if(math)$
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX","output/HTML-CSS"],
    "HTML-CSS": {
    styles: {".MathJax_Preview": {visibility: "hidden"}}
    },
    tex2jax: {inlineMath: [["\[","\]"],["\\\(","\\\)"]]},
    TeX: {extensions: ["AMSmath.js","AMSsymbols.js","/js/xypic.js"]}
    });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js"></script>
  $endif$

  </head>
  <body>

    <div id="header">
       <div id="navigation">
         <b><a href="/">home</a></b>
	 //
         <b><a href="/about">about</a></b>
	 //
         <b><a href="/archive">archive</a></b>
       </div>
    </div>
