$partial("templates/header.html")$

     <div id="content">

       <h1 id="title">$title$</h1>
       $if(subtitle)$
       <div class="subtitle">$subtitle$</div>
       $endif$

       $if(date)$
       <strong>published on</strong>: $date$
       $endif$
       $if(updated)$
       | <strong>updated</strong>: $updated$
       $endif$
       $if(tags)$
       | <strong>tagged:</strong> 
       $tags$
       $endif$
       $if(origin)$
       | <strong>origin</strong>: $origin$
       $endif$
	 
       <article>
	 <section>
           $body$
	 </section>
       </article>

     </div>

$partial("templates/footer.html")$
